@import url('https://fonts.googleapis.com/css?family=Montserrat:300');


/*SMALL SIZE PAGE*/
@media (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    *::after,
    *::before {
        box-sizing: inherit;
    }

    html {
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        /* change this font stack to your own choices */
        line-height: 1.5;
    }

    img {
        display: block;
        width: 100%;
    }

    .mast {
        background-image: url(../img/mycat.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5rem;
    }

    /*************************************************
            HEADER
*************************************************/
     header {
         border-top: 1rem solid hsl(349, 44%, 40%);
        padding: 1rem 2rem;

    }

    header > h1 {
        color: hsl(0, 0%, 90%);
        text-shadow: 2px 2px hsl(100, 100%, 0%);
    }

    header > h2 {
        color: hsl(0, 0%, 90%);
        text-shadow: 2px 2px hsl(100, 100%, 0%);
    }

    /*************************************************
            NAVMENU
*************************************************/
    nav {
        display: flex;
        flex-flow: column;
        color: hsl(0, 0%, 0%);
        padding: 1rem 2rem;
        background-color: hsl(0, 0%, 90%);
        font-size: 20px;
    }

    nav > a,
    nav > a:visited,
    nav > a:link {
        color: hsl(0, 0%, 0%);
        text-decoration: none;
        border-bottom: .1rem solid hsl(100, 100%, 100%);

    }

    nav > a:active,
    nav > a:focus,
    nav > a:hover {
        color:  hsl(349, 44%, 40%);
    }

    /*************************************************
            MAIN CONTENT
*************************************************/
    main {
        display: grid;
        padding: 1rem 2rem;
        color: hsl(349, 44%, 40%);
    }

    .first {
        padding-bottom: 1rem;
    }

    .second {
        padding-bottom: 1rem;
    }

    .third {
        padding-bottom: 1rem;
    }

    img {
        display: block;
        max-height: 60%;
        max-width: 60%;
    }


    section p img {
        float: left;
        padding: 1rem;

    }

    /*************************************************
            FOOTER
*************************************************/
     footer {
        border-top: 1rem solid hsl(349, 44%, 40%);
        background-color: hsl(0, 0%, 90%);
        padding: 1rem 2rem;
    }

    .foot dd a,
    .foot dd a:visited {
        color: hsl(0, 0%, 0%);
        font-size: 16px;
        text-decoration: none;
    }

    .foot dd a:active,
    .foot dd a:focus,
    .foot dd a:hover {
        color:  hsl(349, 44%, 40%);
    }


    .subnav {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;


    }

    .comments .form-box {
        display: flex;
        padding: 0.5rem;
        width: 100%;
        background-color: hsl(0, 0%, 90%);
    }


    #comment {
        width: 100%;
        height: 6rem;
    }

    #name,
    #email,
    #city {
        display: flex;
        width: 100%;
    }
}
    







/*MEDIUM SIZE PAGE*/
@media (min-width: 600px) and (max-width:1000px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    *::after,
    *::before {
        box-sizing: inherit;
    }

    html {
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        /* change this font stack to your own choices */
        line-height: 1.5;
    }

    img {
        width: 80%;

    }

    .mast {
        background-image: url(../img/mycat.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5rem;
    }

    /*************************************************
            HEADER
*************************************************/
   header {
         border-top: 1rem solid hsl(349, 44%, 40%);
        padding: 1rem 2rem;

    }

    header > h1 {
        color: hsl(0, 0%, 90%);
        text-shadow: 2px 2px hsl(100, 100%, 0%);
    }

    header > h2 {
        color: hsl(0, 0%, 90%);
        text-shadow: 2px 2px hsl(100, 100%, 0%);
    }

    /****************************************************
            NAVMENU
*************************************************/
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        color: hsl(0, 0%, 0%);
        padding: 1rem 2rem;
        background-color: hsl(0, 0%, 90%);
        font-size: 20px;
    }

    nav ul {
        list-style: none;
        margin: 0 2px;
        padding: 0;
    }

    nav li {
        display: inline-block;
        padding: 5px 5px;
    }

    nav > a,
    nav > a:visited,
    nav > a:link {
        color: hsl(0, 0%, 0%);
        text-decoration: none;



    }

    nav > a:active,
    nav > a:focus,
    nav > a:hover {
        color:  hsl(349, 44%, 40%);
    }

    /*************************************************
            MAIN CONTENT
*************************************************/
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "h1 h1"
            "h2 h3";
        padding: 1rem 2rem;
        color: hsl(349, 44%, 40%);
    }

    .first {
        grid-area: h1;
         border-bottom: .2rem solid hsl(349, 44%, 40%);
    }

    .second {
        padding-top: 1rem;
        grid-area: h2;

    }

    .third {
        padding-top: 1rem;
        grid-area: h3;
    }

    .segment > h1 {
        color: hsl(349, 44%, 40%);
        text-align: center;
    }

    main h2 {
        color: hsl(349, 44%, 40%);
        text-align: center;
    }

    img {
        max-height: 60%;
        max-width: 60%;
    }



    section {}

    section p {
        padding: 1rem;


    }

    section p img {
        float: left;
        padding: 1rem;



    }

    /*************************************************
            FOOTER
*************************************************/ 
    footer {
     border-top: 1rem solid hsl(349, 44%, 40%);
        background-color: hsl(0, 0%, 90%);
        padding: 1rem 2rem;
    }

    .foot dd a,
    .foot dd a:visited {
        color: hsl(0, 0%, 0%);
        font-size: 16px;
        text-decoration: none;
    }

    .foot dd a:active,
    .foot dd a:focus,
    .foot dd a:hover {
        color:  hsl(349, 44%, 40%);
    }


    .subnav {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;


    }

    .comments .form-box {
        display: flex;
        padding: 0.5rem;
        width: 100%;
        background-color: hsl(0, 0%, 90%);
    }


    #comment {
        width: 100%;
        height: 6rem;
    }

    #name,
    #email,
    #city {
        display: flex;
        width: 100%;
    }
}








/*LARGE SIZE PAGE*/
@media (min-width: 1000px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    *::after,
    *::before {
        box-sizing: inherit;
    }

    html {
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        /* change this font stack to your own choices */
        line-height: 1.5;
    }

    img {
        display: block;
        width: 100%;
    }

    .mast {
        background-image: url(../img/mycat.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5rem;
    }

    /*************************************************
            HEADER
*************************************************/
    header {
         border-top: 1rem solid hsl(349, 44%, 40%);
        padding: 1rem 2rem;

    }

    header > h1 {
        color: hsl(0, 0%, 90%);
        text-shadow: 2px 2px hsl(100, 100%, 0%);
    }

    header > h2 {
        color: hsl(0, 0%, 90%);
        text-shadow: 2px 2px hsl(100, 100%, 0%);
    }

    /*************************************************
            NAVMENU
*************************************************/
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        color: hsl(0, 0%, 0%);
        padding: 1rem 2rem;
        background-color: hsl(0, 0%, 90%);
        font-size: 20px;
    }

    nav ul {
        list-style: none;
        margin: 0 2px;
        padding: 0;
    }

    nav li {
        display: inline-block;
        padding: 5px 5px;
    }

    nav > a,
    nav > a:visited,
    nav > a:link {
        color: hsl(0, 0%, 0%);
        text-decoration: none;



    }

    nav > a:active,
    nav > a:focus,
    nav > a:hover {
        color: hsl(349, 44%, 40%);
    }

    /*************************************************
            MAIN CONTENT
*************************************************/
    main {
        display: flex;
        padding: 1rem 2rem;
        color: hsl(349, 44%, 66%);
        grid-column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .first,
    .second,
    .third {
        padding: 1rem;
    }

    .segment > h1 {
        color: hsl(349, 44%, 40%);
        text-align: center;
    }

    main h2 {
        color: hsl(349, 44%, 40%);
        text-align: center;
    }

   
    
    img {
        display: block;
        max-height: 80%;
    }

    section {
        text-align: center;
    }


    section p img {
        padding: .5rem;
    }

    /*************************************************
            FOOTER
*************************************************/
   footer {
     border-top: 1rem solid hsl(349, 44%, 40%);
        background-color: hsl(0, 0%, 90%);
        padding: 1rem 2rem;
    }

    .foot dd a,
    .foot dd a:visited {
        color: hsl(0, 0%, 0%);
        font-size: 16px;
        text-decoration: none;
    }

    .foot dd a:active,
    .foot dd a:focus,
    .foot dd a:hover {
        color:  hsl(349, 44%, 40%);
    }


    .subnav {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;


    }

    .comments .form-box {
        display: flex;
        padding: 0.5rem;
        width: 100%;
        background-color: hsl(0, 0%, 90%);
    }


    #comment {
        width: 100%;
        height: 6rem;
    }

    #name,
    #email,
    #city {
        display: flex;
        width: 100%;
    }

}
